/bin/*
/vendor/
/.idea/
/.phpunit.result.cache
/Dockerfile
/docker-compose.yaml
/Makefile

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
